<div class="col-md-8 col-md-offset-2">
	<div class= "panel panel-default">
		<div class= "panel-heading pin_image">
			<%= link_to (image_tag @litter.image.url, class: "img-responsive"), litters_path %>
		</div>
		<div class="panel-body">
			<h1> <%= @litter.title %> </h1>
			<p class="description"> <%= @litter.body %></p>
		</div>
		<div class="panel-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="btn-group pull-left">
						<% if @litter.status == 0 %>
					<%= link_to get_status(@litter),"#", class:"btn btn-success" %></p>
					<% elsif @litter.status == 1 %>
					<%= link_to get_status(@litter),"#", class:"btn btn-warning" %>
					<% elsif @litter.status == 2 %>
					<%= link_to get_status(@litter),"#", class:"btn btn-danger" %>
					<% end %>
				</div>
				<div class="btn-group pull-right">
					<%= link_to "Back", litters_path, class: "btn btn-default" %>
					<% if current_user && is_admin? %>
					<%= link_to "Edit", edit_litter_path, class: "btn btn-default" %>
					<%= link_to "Delete", litter_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
					<% end %>
				</div>
				<!-- End of Buttons -->
			</div>
			<!-- End of Row -->
		</div>
	</div>
	<!-- End of Footer -->
</div>
<div class="jumbotron">
	<div class="container-fluid">
		<h2><%= @litter.comments.count %> Comments </h2>
	</div>
	<%= render @litter.comments %>
	<% if current_user %>
	<%= render 'comments/form' %>
	<% else %>
	<h3><%= link_to 'Login to Post a Comment', new_user_session_path %></h3>
	<% end %>
</div>
</div>