<div class="col-md-8 col-md-offset-2">
	<div class= "panel panel-default">
		<div class= "panel-heading pin_image">
			<%= link_to (image_tag @pin.image.url, class: "img-responsive"), photos_path %>
		</div>
		<div class="panel-body">
			<h1> <%= @pin.title %> </h1>
			<p class="description"> <%= @pin.description %></p>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-6">
					<p class="user"> Submitted By: <%= @pin.user.name %></p>
				</div>
				<div class="col-md-6">
					<div class="btn-group pull-right">
						<%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
							<i class="glyphicon glyphicon-heart"></i> <%=@pin.get_upvotes.size %>
							<% end %>
						<%= link_to "Back", photos_path, class: "btn btn-default" %>
						<% if current_user && is_admin? %>
						<%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
						<%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
						<% end %>
					</div>
				</div>
				<!-- End of Buttons -->
			</div>
			<!-- End of Row -->
		</div>
		<!-- End of Footer -->
	</div>
</div>